/ =debug @pitcher
/ =debug @pitch_type
/ =debug @atbat.first.pitchings
/ =debug @atbat[1].pitchings
/ =debug @batte
/ =debug @ary
.row-fluid
  =render 'frame'
  .span10
    %table.table.table-striped
      %thead
        %tr
          %th IP
          %th ERA
          %th R
          %th H
          %th HR
          %th BB
          %th IBB
          %th SO
          %th HB
          %th WP
          %th AVG
          %th WHIP
          %th AB
          %th SF
          %th SAC
      %tbody
        %tr
          %td= @pitcher.ip
          %td= @pitcher.era_sort.round(3)
          %td= @pitcher.r
          %td= @pitcher.h
          %td= @pitcher.hr
          %td= @pitcher.bb
          %td= @pitcher.ibb
          %td= @pitcher.so
          %td= @pitcher.hb
          %td= @pitcher.wp
          %td= @pitcher.avg_sort.round(3)
          %td= @pitcher.whip_sort.round(3)
          %td= @pitcher.ab
          %td= @pitcher.sf
          %td= @pitcher.sac
      %thead
        %tr
          %th GIDP
          %th GO
          %th AO
          %th TPA
          %th NP
          %th BK
          %th HLD
          %th SV
          %th BSV
          %th SVO
          %th G
          %th GS
          %th CG
          %th GF
          %th SHO
      %tbody
        %tr
          %td= @pitcher.gidp
          %td= @pitcher.go
          %td= @pitcher.ao
          %td= @pitcher.tpa
          %td= @pitcher.np
          %td= @pitcher.bk
          %td= @pitcher.hld
          %td= @pitcher.sv
          %td= @pitcher.bsv
          %td= @pitcher.svo
          %td= @pitcher.g
          %td= @pitcher.gs
          %td= @pitcher.cg
          %td= @pitcher.gf
          %td= @pitcher.sho
      %thead
        %tr
          %th K%
          %th BB%
          %th K9
          %th BB9
          %th HR9
          %th K/BB
          %th FIP
          %th E-F
          %th FIP-
          %th LOB%
          %th BABIP
          %th PRun
          %th RSAA
      %tbody
        %tr
          %td= @pitcher.k_pct.round(3) * 100
          %td= @pitcher.bb_pct.round(3) * 100
          %td= @pitcher.k_9.round(3)
          %td= @pitcher.bb_9.round(3)
          %td= @pitcher.hr_9.round(3)
          %td= @pitcher.k_bb.round(3)
          %td= @pitcher.fip.round(3)
          %td= @pitcher.e_f.round(3)
          %td= @pitcher.fip_minus.round(3)
          %td= @pitcher.lob_pct.round(3) * 100
          %td= @pitcher.babip.round(3)
          %td= @pitcher.p_r
          %td= @pitcher.rsaa

