- number = 0
-while @game_data[number] do
  -if @game_data[number][:status] == 'Postponed'
    =puts "Postponed"
  -else
  %br
  %br
    %table.table.table-bordered
      %tr
        %th= link_to '詳細', {:controller => 'game_detail', :action => 'game_details', :gid => @game_data[number][:gid] }, :method => :post
        %th 1
        %th 2
        %th 3
        %th 4
        %th 5
        %th 6
        %th 7
        %th 8
        %th 9
        %th R
        %th H
        %th E
      %tbody
        %tr
          %td= @game_data[number][:away_team_name]
          - a_inn = 1
          -while @game_data[number][:score][a_inn]
            %td= @game_data[number][:score][a_inn][:away]
            -a_inn += 1
          -if @game_data[number][:away_run]
            %td= @game_data[number][:away_run]
          -if @game_data[number][:away_hit]
            %td= @game_data[number][:away_hit]
          -if @game_data[number][:away_er]
            %td= @game_data[number][:away_er]

        %tr
          %td= @game_data[number][:home_team_name]
          - h_inn = 1
          -while @game_data[number][:score][h_inn]
            %td= @game_data[number][:score][h_inn][:home]
            -h_inn += 1
          -if @game_data[number][:home_run]
            %td= @game_data[number][:home_run]
          -if @game_data[number][:home_hit]
            %td= @game_data[number][:home_hit]
          -if @game_data[number][:home_er]
            %td= @game_data[number][:home_er]
    %span.label.label-success 勝ち
    = link_to (@game_data[number][:winning_pitcher].to_s + "(#{@game_data[number][:winning_pitcher_win]}-#{@game_data[number][:winning_pitcher_lose]})" + ' ' + @game_data[number][:winning_pitcher_era].to_s), {:controller => 'pitchers', :action => 'pitcher', :p_id => @game_data[number][:wp_id], :gid => @game_data[number][:gid] }, :method => :post
    %span.label.label-important 負け
    = link_to (@game_data[number][:losing_pitcher].to_s + "(#{@game_data[number][:losing_pitcher_win]}-#{@game_data[number][:losing_pitcher_lose]})" + ' ' + @game_data[number][:losing_pitcher_era].to_s), {:controller => 'pitchers', :action => 'pitcher', :p_id => @game_data[number][:lp_id], :gid => @game_data[number][:gid] }, :method => :post
    -if @game_data[number][:save_pitcher_svo] != '0'
      %span.label セーブ
      = link_to (@game_data[number][:save_pitcher].to_s + "(#{@game_data[number][:save_pitcher_win]}-#{@game_data[number][:save_pitcher_lose]})" + ' ' + @game_data[number][:save_pitcher_save] + '/' +@game_data[number][:save_pitcher_svo] + ' ' + @game_data[number][:save_pitcher_era].to_s),{:controller => 'pitchers', :action => 'pitcher', :p_id => @game_data[number][:sp_id], :gid => @game_data[number][:gid] }, :method => :post
    -else
  %br
  .alert.alert-block
    %p= "#{@game_data[number][:away_team_name]}:" + "盗塁 =>" + @game_data[number][:away_sb] + ",奪三振 =>" + @game_data[number][:away_so]
    %p= "#{@game_data[number][:home_team_name]}:" + "盗塁 =>" + @game_data[number][:home_sb] + ",奪三振 =>" + @game_data[number][:home_so]
  -hr_player = 0
  -while @game_data[number][hr_player]
    .alert.alert-info
      %p
        "ホームラン:"
        = link_to (@game_data[number][hr_player][:hr_player_name]),{:controller => 'batters', :action => 'batter', :b_id => @game_data[number][hr_player][:hrp_id], :gid => @game_data[number][:gid] }, :method => :post
        = @game_data[number][hr_player][:hr_player_hr_number] + "本 " + @game_data[number][hr_player][:hr_player_hr_inning] + '回'
    - hr_player += 1
  - number += 1


