/ = debug @pitcher
/ = debug @batter.first.favorite
/ = debug @team
-if current_user
  .span10
    %h2 Your favorites
    -if @fav_team.any?
      .hero-unit
        %h3 Teams
        -@fav_team.each do |fav|
          .hero-unit
            .btn.btn-mini.pull-right= link_to "Delete", {controller: 'team_favorites', action: 'destroy', id: fav.id}, method: :delete
            %h4
              =link_to fav.team.team_name, {controller: "team", action: "show", team_id: fav.team.team_id}
              %small= "#{fav.team.tp_w}wins/#{fav.team.tp_l}loses - #{fav.team.win_pct.round(3)}"
            %h5 Batting
            %table.table.table-striped
              %thead
                %tr
                  %th AVG
                  %th SLG
                  %th OBP
                  %th OPS
                  %th HR
                  %th RBI
                  %th SAC
                  %th BB
                  %th SO
                  %th SB
              %tbody
                %tr
                  %td= fav.team.tb_avg
                  %td= fav.team.tb_slg
                  %td= fav.team.tb_obp
                  %td= fav.team.tb_ops
                  %td= fav.team.tb_hr
                  %td= fav.team.tb_rbi
                  %td= fav.team.tb_sac
                  %td= fav.team.tb_bb
                  %td= fav.team.tb_so
                  %td= fav.team.tb_sb
            %h5 Pitching
            %table.table.table-striped
              %thead
                %tr
                  %th ERA
                  %th WHIP
                  %th HR
                  %th BB
                  %th SO
                  %th HOLD
                  %th SHO
                  %th SV
                  %th BSV
                  %th SVO
              %tbody
                %tr
                  %td= fav.team.tp_era
                  %td= fav.team.tp_whip
                  %td= fav.team.tp_hr
                  %td= fav.team.tp_bb
                  %td= fav.team.tp_so
                  %td= fav.team.tp_h
                  %td= fav.team.tp_sho
                  %td= fav.team.tp_sv
                  %td= fav.team.tp_bsv
                  %td= fav.team.tp_svo
    -if @fav_pitcher.any?
      .hero-unit
        %h3 Pitchers
        %table.table.table-striped
          %thead
            %tr
              %th
              %th Team
              %th ERA
              %th AVG
              %th WHIP
              %th IP
              %th R
              %th ER
              %th H
              %th HR
              %th BB
              %th IBB
              %th SO
              %th
          %tbody
            -@fav_pitcher.each do |fav|
              %tr
                %td=link_to fav.pitcher.name_display_first_last,{controller: 'pitchers', action: 'show', p_id: fav.pitcher.p_id}
                %td= fav.pitcher.team.team_abbrev
                %td= fav.pitcher.era_sort.round(3)
                %td= fav.pitcher.avg_sort.round(3)
                %td= fav.pitcher.whip_sort.round(3)
                %td= fav.pitcher.ip
                %td= fav.pitcher.r
                %td= fav.pitcher.er
                %td= fav.pitcher.h
                %td= fav.pitcher.hr
                %td= fav.pitcher.bb
                %td= fav.pitcher.ibb
                %td= fav.pitcher.so
                %td
                  .btn.btn-mini= link_to 'Delete', {controller: :pitcher_favorites, action: :destroy, id: fav.id}, method: :delete
    -if @fav_batter.any?
      .hero-unit
        %h3 Batters
        %table.table.table-striped
          %thead
            %tr
              %th
              %th Team
              %th AVG
              %th OBP
              %th SLG
              %th OPS
              %th AB
              %th H
              %th 2B
              %th 3B
              %th HR
              %th RBI
              %th R
              %th BB
              %th SO
              %th SB
              %th CS
              %th
          %tbody
            -@fav_batter.each do |fav|
              %tr
                %td=link_to fav.batter.name_display_first_last, {controller: :batters, action: :show, p_id: fav.batter.p_id}
                %td= fav.batter.team.team_abbrev
                %td= fav.batter.avg_sort.round(3)
                %td= fav.batter.obp_sort.round(3)
                %td= fav.batter.slg_sort.round(3)
                %td= fav.batter.ops_sort.round(3)
                %td= fav.batter.ab
                %td= fav.batter.h
                %td= fav.batter.b2
                %td= fav.batter.b3
                %td= fav.batter.hr
                %td= fav.batter.rbi
                %td= fav.batter.r
                %td= fav.batter.bb
                %td= fav.batter.so
                %td= fav.batter.sb
                %td= fav.batter.cs
                %td
                  .btn.btn-mini= link_to "Delete", {controller: :batter_favorites, action: :destroy, id: fav.id}, method: :delete

    -if @fav_team.blank? && @fav_pitcher.blank? && @fav_batter.blank?
      %p.lead Please Add Your Favorite Players or Teams
-else
  .span10
    %p.lead Please Sign In
    .btn.btn-inverse= link_to 'Sign in with Facebook', 'auth/facebook'
