.span10
  %table.table.table-hover.table.table-condensed
    %thead
      %tr
        %th Name
        %th Team
        %th Pos
        %th= batter_sort('avg',@item,@direction)
        %th= batter_sort('obp',@item,@direction)
        %th= batter_sort('slg',@item,@direction)
        %th= batter_sort('ops',@item,@direction)
        %th= batter_sort('ab',@item,@direction)
        %th= batter_sort('h',@item,@direction)
        %th= batter_sort('r',@item,@direction)
        %th= batter_sort('rbi',@item,@direction)
        %th= batter_sort('b2',@item,@direction)
        %th= batter_sort('b3',@item,@direction)
        %th= batter_sort('hr',@item,@direction)
        %th= batter_sort('bb',@item,@direction)
        %th= batter_sort('hbp',@item,@direction)
        %th= batter_sort('sb',@item,@direction)
        %th= batter_sort('cs',@item,@direction)
        %th= batter_sort('so',@item,@direction)
        %th= batter_sort('go',@item,@direction)
        %th= batter_sort('ao',@item,@direction)
        %th= batter_sort('np',@item,@direction)
    %tbody
    -num = 1
    -@r_atbat.each do |batter|
      %tr
        %td=link_to batter.name_display_first_last, {controller: 'batters', action: 'show', p_id: batter.p_id}
        %td= batter.team_abbrev
        %td= batter.pos
        %td= batter.avg_sort.round(3)
        %td= batter.obp_sort.round(3)
        %td= batter.slg_sort.round(3)
        %td= batter.ops_sort.round(3)
        %td= batter.ab
        %td= batter.h
        %td= batter.r
        %td= batter.rbi
        %td= batter.b2
        %td= batter.b3
        %td= batter.hr
        %td= batter.bb
        %td= batter.hbp
        %td= batter.sb
        %td= batter.cs
        %td= batter.so
        %td= batter.go
        %td= batter.ao
        %td= batter.np
      -num += 1
      -if num % 20 == 0
        %thead
          %tr
            %th Name
            %th Team
            %th Pos
            %th= batter_sort('avg',@item,@direction)
            %th= batter_sort('obp',@item,@direction)
            %th= batter_sort('slg',@item,@direction)
            %th= batter_sort('ops',@item,@direction)
            %th= batter_sort('ab',@item,@direction)
            %th= batter_sort('h',@item,@direction)
            %th= batter_sort('r',@item,@direction)
            %th= batter_sort('rbi',@item,@direction)
            %th= batter_sort('b2',@item,@direction)
            %th= batter_sort('b3',@item,@direction)
            %th= batter_sort('hr',@item,@direction)
            %th= batter_sort('bb',@item,@direction)
            %th= batter_sort('hbp',@item,@direction)
            %th= batter_sort('sb',@item,@direction)
            %th= batter_sort('cs',@item,@direction)
            %th= batter_sort('so',@item,@direction)
            %th= batter_sort('go',@item,@direction)
            %th= batter_sort('ao',@item,@direction)
            %th= batter_sort('np',@item,@direction)

  / %table.table.table-hover.table.table-condensed
  /   %thead
  /     %tr
  /       %th 規定到達未満
  /     %tr
  /     -@thead.each do |k|
  /       -case k
  /       -when 'name'
  /         %th
  /       -when 'Team'
  /         %th= t(k, :scope => 'bat')
  /       -else
  /         %th= link_to t(k, :scope => :bat), :sort => "#{k}"
  /   %tbody
  /     -nr_number = 0
  /     -while @nr_atbat[nr_number]
  /       %tr
  /         -@thead.each do |k|
  /           -if k == 'Team'
  /             %td= @nr_atbat[nr_number].team.team_abbrev
  /           -elsif k == 'name'
  /             %td= link_to @nr_atbat[nr_number][k.to_sym], {:controller => 'batters', :action => 'show', :p_id => @nr_atbat[nr_number].p_id}
  /           -else
  /             %td= @nr_atbat[nr_number][k.to_sym]
  /         -nr_number += 1
