/ =debug @batter
/ =debug @atbat
.row-fluid
  =render 'frame'
  .span10
    %table.table.table-striped
      %thead
        %tr
          %th AB
          %th AVG
          %th OPS
          %th OBP
          %th SLG
          %th H
          %th 2B
          %th 3B
          %th HR
          %th RBI
          %th R
          %th BB
          %th SO
          %th SB
          %th CS
          %th GIDP
          %th GO
          %th AO
      %tbody
        %tr
          %td= @batter.ab
          %td= @batter.avg_sort.round(3)
          %td= @batter.ops_sort.round(3)
          %td= @batter.obp_sort.round(3)
          %td= @batter.slg_sort.round(3)
          %td= @batter.h
          %td= @batter.b2
          %td= @batter.b3
          %td= @batter.hr
          %td= @batter.rbi
          %td= @batter.r
          %td= @batter.bb
          %td= @batter.so
          %td= @batter.sb
          %td= @batter.cs
          %td= @batter.gidp
          %td= @batter.go
          %td= @batter.ao
      %thead
        %tr
          %th SAC
          %th SF
          %th IBB
          %th HBP
          %th A
          %th PO
          %th E
          %th NP
          %th TPA
          %th ISO
          %th K%
          %th BB%
          %th BABIP
          %th wOBA
          %th wRAA
          %th wRC
      %tbody
        %tr
          %td= @batter.sac
          %td= @batter.sf
          %td= @batter.ibb
          %td= @batter.hbp
          %td= @batter.a
          %td= @batter.po
          %td= @batter.e
          %td= @batter.np
          %td= @batter.tpa
          %td= @batter.iso.round(3)
          %td= @batter.k_pct.round(1)
          %td= @batter.bb_pct.round(1)
          %td= @batter.babip.round(3)
          %td= @batter.woba.round(3)
          %td= @batter.wraa.round(1)
          %td= @batter.wrc.round(1)
