/ =debug @game[144].first
=render partial: "layouts/fav_frame"
-if current_user
  -if @fav.any?
    .span10
      .hero-unit
        %h3 Teams
        -@fav.each do |fav|
          .hero-unit
            .btn.btn-mini.pull-right= link_to "Delete", {controller: 'team_favorites', action: 'destroy', id: fav.id}, method: :delete
            %h3
              =link_to fav.team.team_name, {controller: "team", action: "show", team_id: fav.team.team_id}
              %small= "#{fav.team.tp_w}wins/#{fav.team.tp_l}loses - #{fav.team.win_pct.round(3)}"
            / %h5 最近5試合
            / .well.well-small
            /   %dl
            /     - game.each do |game|
            /       -if game.line_scores.first
            /         %dt
            /           = "#{game.month}/#{game.day}"
            /           =link_to "#{game.away_team_name_brief}",{controller: :team, action: :show, team_id: game.away_team_id}
            /           ="(#{game.line_scores.first.away_team_runs}) - "
            /           =link_to "#{game.home_team_name_brief}",{controller: :team, action: :show, team_id: game.home_team_id}
            /           ="(#{game.line_scores.first.home_team_runs})"
            /         %dd
            /           = "WP: #{game.line_scores.first.wp_name}, LP: #{game.line_scores.first.lp_name}"
            /           =link_to "詳細", {controller: :game, action: :show, g_id: game.gameday}
            - game = @game[fav.team.team_id]
            = calendar game do |game|
              -if game.line_scores.first
                %small=link_to "#{game.away_team_name_brief}(#{game.line_scores.first.away_team_runs}) - #{game.home_team_name_brief}(#{game.line_scores.first.home_team_runs})", {controller: :game, action: :show, g_id: game.gameday}
            %h5 Batting
            %table.table.table-striped
              %thead
                %tr
                  %th AVG
                  %th SLG
                  %th OBP
                  %th OPS
                  %th 2B
                  %th 3B
                  %th HR
                  %th RBI
                  %th SAC
                  %th BB
                  %th SO
                  %th SB
                  %th CS
              %tbody
                %tr
                  %td= fav.team.tb_avg
                  %td= fav.team.tb_slg
                  %td= fav.team.tb_obp
                  %td= fav.team.tb_ops
                  %td= fav.team.tb_b2
                  %td= fav.team.tb_b3
                  %td= fav.team.tb_hr
                  %td= fav.team.tb_rbi
                  %td= fav.team.tb_sac
                  %td= fav.team.tb_bb
                  %td= fav.team.tb_so
                  %td= fav.team.tb_sb
                  %td= fav.team.tb_cs
            %h5 Pitching
            %table.table.table-striped
              %thead
                %tr
                  %th ERA
                  %th WHIP
                  %th H
                  %th HR
                  %th BB
                  %th SO
                  %th HOLD
                  %th SHO
                  %th SV
                  %th BSV
                  %th SVO
              %tbody
                %tr
                  %td= fav.team.tp_era
                  %td= fav.team.tp_whip
                  %td= fav.team.tp_h
                  %td= fav.team.tp_hr
                  %td= fav.team.tp_bb
                  %td= fav.team.tp_so
                  %td= fav.team.tp_h
                  %td= fav.team.tp_sho
                  %td= fav.team.tp_sv
                  %td= fav.team.tp_bsv
                  %td= fav.team.tp_svo
  -else
    .span10
      %p.lead Please Add Your Favorite Teams
-else
  .span10
    %p.lead Please Sign In
    .btn.btn-inverse= link_to 'Sign in with Facebook', 'auth/facebook'
