.hero-unit
  %h4= @data[:team_name]
  %ul.inline
    %li= "#{@data[:date]}現在"
.span9
  %h2 チーム打撃成績
  -if @data[:home_batting]
    -h_a_b = :home_batting
  -else
    -h_a_b = :away_batting
  %table.table.table-bordered
    %thead
      %tr
      -@data[h_a_b].each do |k,v|
        %th= t(k, :scope => 'bat')
    %tbody
      %tr
      -@data[h_a_b].each do |k,v|
        %td= v
  %h2 チーム投手成績
  -if @data[:home_pitching]
    -h_a_p = :home_pitching
  -else
    -h_a_p = :away_pitching
  %table.table.table-bordered
    %thead
      %tr
      -@data[h_a_p].each do |k,v|
        %th= t(k, :scope => 'pitch')
    %tbody
      %tr
      -@data[h_a_p].each do |k,v|
        %td= v
  %h2 打者成績
  %table.table.table-bordered
    %thead
      %tr
      -@data[:batter][0].each do |k,v|
        %th= t(k, :scope => 'bat')
    %tbody
    -b_num = 0
    -while @data[:batter][b_num]
      %tr
      -@data[:batter][b_num].each do |k,v|
        -if @data[:batter][b_num][:POS] == 'P'
        -else
          %td= v
      -b_num += 1
  %h2 投手成績
  %table.table.table-bordered
    %thead
      %tr
      -@data[:pitcher][0].each do |k,v|
        %th= t(k, :scope => 'pitch')
    %tbody
      -p_num = 0
      -while @data[:pitcher][p_num]
        %tr
        -@data[:pitcher][p_num].each do |k,v|
          %td= v
        -p_num += 1
